/* Table of Content

- Header
    > Logo
    > Navigation
- Main Content
    > Columns layout
    > Articles layout
    > Articles titles
    > News Bites section
- Footer
    >
    >


 */


body {
  padding: 0 20px;
  font-family: Verdana;
}

/* - Header */
#header {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  border: 2px dotted red;
}

/* -  > Logo */
.header-logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  flex-grow: 3;

  //border: 2px dotted red;
}

.header-logo p {
  white-space: nowrap;
  padding: 0 50px 0 10px;
}

/* -  > Navigation */
.header-navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-height: 63px;

  //border: 2px dotted red;
}

.header-nav-btn a {
  color: black;
  padding: 0 20px;
}

/* - Main Content */
#main-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px 0px;

  border: 2px dotted green;
}

/* -  > Columns layout */
.column {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;

  //border: 2px dotted blue;
}

.column.large {
  flex: 3 1 630px;
}

.column.medium {
  flex: 2 2 300px;
}

.column.small {
  flex: 1 3 240px;
}

/* -  > Articles Layout */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

  //border: 2px dotted red;
}

.boxed-article {
  flex: 1 1 200px;
  padding: 0 20px;

  //border: 2px dotted green;
}

.boxed-article > a:first-of-type {
  text-decoration: none;
}

.side {
  flex: 0 1 200px;
  margin-bottom: 40px;
}

.location {
  text-transform: uppercase;
}

article {
  padding-top: 20px;

  //border: 2px dotted MediumAquamarine;
}

/* -  > Articles titles */
.title.image {
  background-color: #f2f2f2;
  background-position: center;
  background-size: cover;
  margin: 0;
  color: white;
  font-size: 1.5em;
  text-align: center;
  line-height: 150%;
  padding: 100px 50px;
  flex: 1 1 200px;
}

.title.no-image {
  margin: 0;
  line-height: 150%;
  padding: 5px;
}

#main-featured {
  padding: 0 20px;
}

#main-featured .title {
  background-image: url("../media/images/img-story-main.png");
  text-align: left;
  padding: 150px 100px;
  font-size: 2em;
}

#box1 .title {
  background-image: url("../media/images/img-story-2.png");
  margin-bottom: 20px;
}

#box2 .title {
  background-image: url("../media/images/img-story-3.png");
  margin-bottom: 20px;
}

#box3 .title {
  background-image: url("../media/images/img-story-1.png");
  padding: 150px 100px;
}

/* -  > News Bites section */
.bites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;

  //border: 2px dotted black;
}

.news-bites-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.news-bites-img h4{
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.news-bites-list {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 400px;
}

.news-bites-nav-btn {
  list-style: none;
  padding: 15px 30px;
  background-color: #f2f2f2;;
  border-bottom: 1px solid black;
}

.news-bites-nav-btn a {
  color: #808080;
  text-decoration: none;
  font-size: .80em;
}

/* - Footer */
footer {
  background-color: MediumAquamarine;

  border: 2px dotted red;
  height: 200px;
}
