
#header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  //border: 2px dotted red;
}

.header-logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;

  //border: 2px dotted red;
}

.header-logo p {
  white-space: nowrap;
  padding: 0 30px 0 10px;
}

.header-navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  //border: 2px dotted red;
}

.header-nav-btn a {
  color: black;
  padding: 0 20px;
}
